.main--nav {
  ul {
    li {
      display: inline;
      padding-right: 1rem;
      a {
        color: color(blue);
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.add-tour--progress-step.active{
  border-bottom: 2px solid color(blue);
}

// .button{
//   background: color(black);
//   padding: 1rem 2rem;
//   color: color(white);
// }