.main--nav {
  ul {
    li {
      display: inline;
      padding-right: 1rem;
      a {
        color: color(blue);
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}
